/* You can add global styles to this file, and also import other style files */
* {
  font-family: Segoe UI;
}

html, body {
  margin: 0;
  padding: 0;
}

.default-background {
  background-color: #1e1e1e;
}

::selection {
  color: #adadad;
  background-color: #2c2c2c;
}

.angular-editor-toolbar {
  background-color: transparent !important;
  border: 2px solid #383838 !important;
  padding: 0.4rem 0.2rem 0 0.2rem !important;
  text-align: center !important;
}

.angular-editor-textarea {
  border: 2px solid #383838 !important;
  overflow-wrap: break-word !important;
}

.angular-editor-button {
  background-color: #ffd545 !important;
  border: 1px solid #383838 !important;
  color: black;
}

.ae-font .ae-picker-label {
  background-color: #ffd545 !important;
  border: 2px solid #383838 !important;
  color: black;
}

.ae-font.ae-expanded .ae-picker-label {
  color: #383838 !important;
}

.ae-font.ae-expanded .ae-picker-options {
  border-color: #363636 !important;
}

.ae-font .ae-picker-options {
  background-color: #1d1d1d !important;
}

.ae-font .ae-picker-options .ae-picker-item.focused, .ae-font .ae-picker-options .ae-picker-item:hover {
  background-color: #ffd545 !important;
  color: #1e1e1e !important;
}

.ae-font .ae-picker-options .ae-picker-item.selected {
  color: #1e1e1e !important;
}
